@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

h1, h2, h3, h4, h5, h6, p, body{
    margin: 0;
}

body{
    background-image: url('./images/bg-pattern-top-desktop.svg'), url('./images/bg-pattern-bottom-desktop.svg');
    background-position: top left, right bottom;
    background-repeat: no-repeat;
    width: 80%;
    margin: auto;
}

ul{
    padding: 0;
    margin: 0;
}

.cover{
    height: 100vh;
    display: flex;
    margin: 0 auto;
}

.tpbg-img{
    position: absolute;
    top: 0;
    left: 0;
}

.btmbg-img{
    position: absolute;
    bottom: 0;
    right: 0;
}

.tpbg-imgm{
    display: none;
}

.btmbg-imgm{
    display: none;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 100px;
    height: 80%;
    font-family: 'League Spartan', sans-serif;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.top-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tpbxs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    max-width: 450px;
}

.head{
    font-size: 56px;
}

.para{
    line-height: 1.5em;
    font-size: 18px;
    font-weight: 500;
}

.str-box>img{
    height: 14px;
    width: 14px;
    padding-right: 3px;
}

.rbx{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.rev-box{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    padding: 1em 2em;
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    font-size: 16px;
    width: 400px;
    box-sizing: border-box;
}

.flx-itm{
    display: flex;
    gap: 40px;
}

.btm-box{
    display: flex;
    gap: 30px;
}

.btm-box>div{
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: fit-content;
}

.btm-box>div:nth-child(2){
    margin-top: 20px;
}

.btm-box>div:nth-child(3){
    margin-top: 40px;
}

.btm-box>div>div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.btm-box>div>p{
    line-height: 1.4em;
}

.btm-box>div>div>img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.names{
    font-size: 18px;
    margin-bottom: 4px;
}

.wht-txt{
    color: white;
}

.lmgt-txt{
    color: hsl(303, 10%, 53%);
}

.spnk-txt{
    color: hsl(333, 80%, 67%);
}

.dmgt-txt{
    color: hsl(300, 43%, 22%);
}

.fntwt-400{
    font-weight: 400;
}
.fntwt-500{
    font-weight: 500;
}
.fntwt-700{
    font-weight: 700;
}

@media screen and (max-width: 375px) {

    body{
        background-image: url('./images/bg-pattern-top-mobile.svg'), url('./images/bg-pattern-bottom-mobile.svg');
        width: 100%;
    }

    .rev-box{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .btm-box{
        flex-direction: column;
    }
    .top-box{
        flex-direction: column;
        text-align: center;
        gap: 50px;
    }
    .container{
        width: unset;
        height: unset;
        padding: unset;
        gap: 50px;
    }
    .cover{
        width: unset;
        height: unset;
        padding: 80px 20px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tpbg-img{
        display: none;
    }
    
    .btmbg-img{
        display: none;
    }

    .rbx{
        width: 100%;
    }
    .flx-itm{
        display: flex;
        gap: unset;
    }

    .flx-itm{
        width: 100%;
    }

    .grditm-c{
        width: 100%;
    }

    .head{
        font-size: 40px;   
    }

    .tbbx2{
        width: 100%;
    }
    
    .btm-box>div:nth-child(2){
        margin-top: unset;
    }

    .btm-box>div:nth-child(3){
        margin-top: unset;
    }
    
    .tpbg-imgm{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .btmbg-imgm{
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}